<!DOCTYPE html>
<html ng-app="profile">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Energy For Life</title>

    <!--<link rel="shortcut icon" href="img/favicon.png">-->

    <meta name="description" content="">

    <!-- CSS -->
    <link href="css/preload.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/yamm.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet" media="screen">
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="css/animate.min.css" rel="stylesheet" media="screen">
    <link href="css/slidebars.css" rel="stylesheet" media="screen">
    <link href="css/lightbox.css" rel="stylesheet" media="screen">
    <!--<link href="css/jquery.bxslider.css" rel="stylesheet">-->
    <!--<link href="css/syntaxhighlighter/shCore.css" rel="stylesheet" media="screen">-->

    <link href="css/style-green.css" rel="stylesheet" media="screen" title="default">
    <link href="css/width-full.css" rel="stylesheet" media="screen" title="default">

    <link href="css/buttons.css" rel="stylesheet" media="screen">

</head>
<body>
<div id="sb-site">
    <div class="boxed">
        <nav class="navbar navbar-default navbar-header-full expand push-up shadow" ng-controller="HeaderController as header_ctr" role="navigation" id="header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" ng-click='header_ctr.toggle(toggle_state)' class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="/"><img src="img/logo_xs.svg"></a>
            </div> <!-- navbar-header -->
            <a class="navbar-brand-center hidden-sm hidden-xs" href="/"> <img src="img/WhiteYellowLogo.svg" href="/index"></a>
            <a class="navbar-brand-center hidden-lg hidden-md hidden-xs" href="/"> <img src="img/WhiteYellowLogo.svg" href="/index"></a>
            <a class="navbar-brand-center-shrink hidden-xs" href="/"> <img src="img/WhiteYellowLogo.svg" href="/index"></a>
            <!--Collect the nav links, forms, and other content for toggling -->
            <div class="donate hidden-xs">
                <div class="donate-button">
                    <a href="#" class="animated fadeIn animation-delay-7">Donate</a>
                </div>
            </div>
            <nav class="top-nav">
                <ul class="top-nav-social  hidden-sm hidden-xs">
                    <li><a href="https://www.google.com/" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="animated fadeIn animation-delay-9 instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </nav>
            <div class="navbar-collapse-lg hidden-xs">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="#" class="nav-item  scroll-link" data-id="about">About</a></li>
                    <li><a href="#" class="nav-item  scroll-link" data-id="events">Events</a></li>
                    <li><a href="#" class="nav-item  scroll-link" data-id="affilates">Affilates</a></li>
                    <li><a href="#" class="nav-item  scroll-link" data-id="contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="navbar-collapse hidden-lg hidden-md hidden-sm" ng-show="toggle_state">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="#" class="nav-item  scroll-link" data-id="about">About</a></li>
                    <li><a href="#" class="nav-item  scroll-link" data-id="events">Events</a></li>
                    <li><a href="#" class="nav-item  scroll-link" data-id="affilates">Affilates</a></li>
                    <li><a href="#" class="nav-item  scroll-link" data-id="contact">Contact Us</a></li>
                </ul>
            </div><!-- navbar-collapse -->

        </nav>
        <div id="donate">
            <div class="container contact-full animated fadeInLeft">
                <div class="donate-form">
                    <h1 class="animated fadeInUp wow ">
                        We want you to come for the ride in the process, subscribe to follow us
                    </h1>
                    <div class="contact-box contact-box-default shadow col-md-6">
                        <div>
                            <form name="signupForm" role="form" ng-controller="UserSignUpController as signup" ng-submit="signup.addDonation(type)" novalidate class="css-form">
                                <fieldset class="form-group">
                                    <label>First Name</label>
                                    <input name="input" ng-model="signup.transaction.first_name" class="form-control" placeholder="First Name" title="First Name" required>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label>Last Name</label>
                                    <input name="input" ng-model="signup.transaction.last_name" class="form-control" placeholder="Last Name" title="Last Name" required>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label>Amount</label>
                                    <input name="amount" type="number" ng-model="signup.transaction.amount" class="form-control" placeholder="Enter Amount" title="Amount" required>
                                    <div ng-messages="signup.transaction.amount.$error" ng-show="signupForm.amount.$submitted">
                                        <div ng-message-exp="'required'">You did not enter an amount</div>
                                    </div>
                                </fieldset>

                                <fieldset class="form-group-card">
                                    <label>Credit Card Number</label>
                                    <div class="form-control-credit">
                                        <div class='{{type}} card col-md-2 col-sm-1 col-xs-6'></div>
                                        <input type="text" class="form-control-card-input col-md-10 col-sm-11 col-xs-6" ng-model="signup.transaction.cardnumber" placeholder="Credit Card Number" payments-validate="card" payments-format="card" payments-type-model="type" required/>
                                    </div>

                                    <p ng-show="status.credit_card_state">{{error.credit_card_message}}</p>

                                </fieldset>
                                <fieldset class="form-group">
                                    <label>Expiration Date</label>
                                    <input type="text" class="form-control" ng-model="signup.transaction.date" placeholder="MM/YY" payments-validate="expiry" payments-format="expiry" />
                                </fieldset>
                                <!--<fieldset class="form-group">-->
                                    <!--<input name="input" ng-model="signup.transaction.expire_year" class="form-control" placeholder="Enter Year" title="Number" required>-->
                                <!--</fieldset>-->
                                <fieldset class="form-group">
                                    <label>CVV</label>
                                    <input name="input" type="number" ng-model="signup.transaction.cvv2" class="form-control" placeholder="Enter CVV" title="CVV" required>
                                </fieldset>
                                <fieldset class="form-group">
                                    <input type="submit" class="btn btn-primary pull-right" value="Make Donation" />
                                </fieldset>
                                <p ng-show="signup.attempt">THE RESULT is a {{result}}</p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <script type="text/javascript" src="../js/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="../js/libraries/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/libraries/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="../js/libraries/wow.min.js"></script>
    <script type="text/javascript" src="../js/libraries/angular.min.js"></script>
    <script type="text/javascript" src="../js/libraries/ui-utils-ieshiv.min.js"></script>
    <script type="text/javascript" src="../js/libraries/ui-utils.min.js"></script>
    <script type="text/javascript" src="../js/libraries/angular-payments.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/controllers/meetups-controller.js"></script>
    <script type="text/javascript" src="../js/controllers/scroll-controller.js"></script>
    <script type="text/javascript" src="../js/controllers/header-controller.js"></script>
    <script type="text/javascript" src="../js/controllers/joinus-controller.js"></script>
    <script type="text/javascript" src="../js/controllers/emaillist-controller.js"></script>
    <script type="text/javascript" src="../js/controllers/aboutus-controller.js"></script>
    <script type="text/javascript" src="../js/controllers/donations-controller.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>

</body>
</html>